<h1> This is our Tasks index page </h1>

<div>
<ul>
<% @tasks.each do |task| %>
<li> <input name="task" type="checkbox" value="" <% "checked" if task.completed %>>
  <%= link_to task.title, task_path(task) %> (Task: <%= task.title %>, Details: <%= task.details %>)-<%= link_to "Update this task",task_edit_path(task) %> -<%= link_to "Delete this task",task_delete_path(task), method: :delete %>
</li>
<% end %>
</div>

<%= link_to "Create a new task", tasks_new_path %>
</ul>
